@keyframes example {
  from {background-color: #282c34;}
  to {background-color: blue;}
}

.App {
  text-align: center;
  font-family: cursive;
  font-style: unset;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

input {
  margin: 10px;
  padding: 5px;
  border-radius: 25px;
  text-align: center;
}

button {
  padding: 5px 10px;
  color: #f90505;
  background-color: black;
  cursor: pointer;
  border-radius: 25px;
}

p {
  font-size: 1.2em;
}

